pipeline:

  build:
    image: docker:17.09.1
    environment:
      - DOCKER_HOST=tcp://172.17.0.1:2375
    commands:
      - docker build -t kube-jenkins .
    when:
      branch: master
      event: push

  deploy:
    image: quay.io/ukhomeofficedigital/kd:v0.8.0
    secrets:
      - kube_token_acp_ci
      - kube_server_acp_ci
    commands:
    - apk update
    - apk add curl
    - scripts/deploy.sh
